.App {
  text-align: center;
  background: turquoise;
  min-height: 100vh;
}

a {
  text-decoration: none;
  padding: 0 15px;
  color: #d8d8d8;
}

a:hover {
  color: #afafaf
}

p {
  margin: 3px 0;
}

#form-button {
  margin-top: 10px;
}

.active {
  color: #afafaf
}
